<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69682297411-djubh2dvna7tdk7485dtopkevqasgdnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69682297411-djubh2dvna7tdk7485dtopkevqasgdnf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69682297411-6j777anlqfl7nr5d36b4kj7qj895tnv2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCY4SW-B5Z7DaY_eevKKEq8uCZUmui7UoE</string>
	<key>GCM_SENDER_ID</key>
	<string>69682297411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.surya.expensetrackerapp</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-11123</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-11123.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69682297411:ios:1bb29b757f66bb91f6f2f6</string>
</dict>
</plist>